body{
  font-family:'Times New Roman', Times, serif;
  display: flex;
  color: #000;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:  #191919;
}
.parent{
  display: flex;
  align-items: center;
  justify-content:baseline;
  flex-direction: column;
  width:100%;
  border:1px solid red;
  padding-bottom: 20px;
  background-color:#fff;
  color: #000;
  border-radius:15px;
  
}
p{
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
}
.todo-grid,
.todo-input-grid{
  display: grid;
  grid-template-columns: 200px 150px 100px ;
  column-gap: 10px;
  row-gap: 10px;
 
}
.todo-input-grid{
  margin-bottom: 10px;
  align-items: stretch;
}

.name-input,
.due-date-input{
  border-radius: 10px;
  outline: 2px solid #FEBF00;
  border: 0;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 5px 5px;
  transition: 0.25s;
}

.name-input:focus {
  outline-offset: 5px;
  background-color: #fff
}
.add-todo-btn {
  height: 30px;
  width: 100px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  border-radius: 15px;
  color: #333;
  transition: all 0.5s ease-in-out;
}
.add-todo-btn:hover {
  color: #252525;
  border:1px solid #11e955;
}

.delete-todo-btn{
  height: 30px;
  width: 100px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  border-radius: 15px;
  color: #333;
  transition: all 0.5s ease-in-out;
}
.delete-todo-btn:hover {
  color: #252525;
  border:1px solid #ef0a0a;
}

.name,
.due-date{
  border-bottom: 2px solid #FEBF00;
}
.fa-solid{
  color:#000;
}
